**/*.out
**/build
.vscode
lib/Sophus
lib/**
.cache/clangd/index/basic_ceres.cpp.731ACB5AED949ADE.idx
.cache/clangd/index/ceres_fitting.cpp.04078FE840E9CE36.idx
.cache/clangd/index/common.hpp.710B2A190251B643.idx
.cache/clangd/index/coordinateTransform.cpp.16A9FB0A8096B6D6.idx
.cache/clangd/index/DisplayImage.cpp.D216EA24A57241A5.idx
.cache/clangd/index/eigenMatrix.cpp.66FE3889450EDF02.idx
.cache/clangd/index/g2o_fitting.cpp.FF7A6868FC355765.idx
.cache/clangd/index/gauss_newton.cpp.081945DD543DF6A0.idx
.cache/clangd/index/helloSLAM.cpp.BAF6ADC7343FB153.idx
.cache/clangd/index/image_basic.cpp.67CBEC215F01A8EE.idx
.cache/clangd/index/libHelloSLAM.cpp.4FA55B6203F545F7.idx
.cache/clangd/index/libHelloSLAM.h.3141E44D03274322.idx
.cache/clangd/index/plot_trajectory_error.cpp.7F385C91B2E94F35.idx
.cache/clangd/index/plotTrajectry.cpp.0C9D0638441085EB.idx
.cache/clangd/index/rgbd_point_cloud.cpp.7F151D3CCB1EE77F.idx
.cache/clangd/index/rotation_matrix.hpp.C0261B788542FBA5.idx
.cache/clangd/index/se3.hpp.E18EBF46C32F555D.idx
.cache/clangd/index/so2.hpp.7EECAE79A5C6EFFD.idx
.cache/clangd/index/so3.hpp.C81A43562662FD4F.idx
.cache/clangd/index/stereo_vision.cpp.E02B6DBD7B6A5F4B.idx
.cache/clangd/index/types.hpp.9977BBC1544F2445.idx
.cache/clangd/index/undistort_image.cpp.636FE6B73181EB73.idx
.cache/clangd/index/use_sophus.cpp.0BF3C79DC845909E.idx
.cache/clangd/index/useGeometry.cpp.0610604A24DF28E0.idx
.cache/clangd/index/useHello.cpp.127029F9DD5285B4.idx
lib/Sophus
lib/Sophus
